.nav-toggle {
    /*background-color: #FFFCF1;*/
    width: 25px;
    height: 25px;
    position: absolute;
    top: 8px;
    left: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.nav-toggle-bar,.nav-toggle-bar::before,.nav-toggle-bar::after {
    content: '';
    background-color: #DF8AC5;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    transition: all .4s ease-in-out;
}

.nav-toggle-bar::before {
    top: -8px;
}

.nav-toggle-bar::after {
    top: 8px;
}

.menu-open .nav-toggle-bar {
    transform: rotate(135deg);
    background-color: #250B55;
}

.menu-open .nav-toggle-bar::before,.menu-open .nav-toggle-bar::after {
    transform: rotate(90deg);
    background-color: #250B55;
    top: 0;
}

/*Menu*/

.menu {
    background-color: #FFFCF1;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-100vw);
    z-index: 1;
}

.menu-open .menu {
    transform: translateX(0);
    transition: all .4s;
}

.menu-open, .menu-open body{
    overflow: hidden;

}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 2.3rem;
    text-transform: uppercase;
}

.menu li {
    margin-bottom: 30px;
    transform: translateX(30px);
    opacity: 0;
    transition: all .4s ease;
}

.menu a {
        color: #250B55;
}

.menu-open .menu li {
    transform: translateX(0);
    opacity: 1;
}

.menu-open .menu li :nth-child(n+1) { transition-delay: .3s;}
.menu-open .menu li :nth-child(n+2) { transition-delay: .35s;}
.menu-open .menu li :nth-child(n+3) { transition-delay: .4s;}
.menu-open .menu li :nth-child(n+4) { transition-delay: .45s;}
.menu-open .menu li :nth-child(n+5) { transition-delay: .5s;}
.menu-open .menu li :nth-child(n+6) { transition-delay: .55s;}