.nav-toggle {
    /*background-color: #FFFCF1;*/
    width: 25px;
    height: 25px;
    position: fixed;
    top: 17px;
    left: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.nav-toggle-bar,.nav-toggle-bar::before,.nav-toggle-bar::after {
    content: '';
    background-color: #DF8AC5;
    width: 100%;
    height: 2.5px;
    position: absolute;
    left: 0;
    transition: all .4s ease-in-out;
}

.nav-toggle-bar::before {
    top: -8px;
}

.nav-toggle-bar::after {
    top: 8px;
}

.menu-open .nav-toggle-bar {
    transform: rotate(135deg);
    background-color: #250B55;
}

.menu-open .nav-toggle-bar::before,.menu-open .nav-toggle-bar::after {
    transform: rotate(90deg);
    background-color: #250B55;
    top: 0;
}

/*Menu*/

.menu {
    background-color: #ECB9DD;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-100vw);
    z-index: 4;
    transition: all 1s;
}

.menu-open .menu {
    transform: translateX(0);
    transition: all .4s;
}

.menu-open, .menu-open body{
    overflow: hidden;

}

.menu ul {
    list-style: none;
    padding: 0 123px 0 58px;
    margin-top: 0;
}

.menu li {
    padding-bottom: 15px;
}

.logo-menu {
    position: absolute;
    left: 200px;
    top: 0;
}

.fa-chevron-right {
    position: absolute;
    left: 230px;
}

.menu > ul > li:nth-of-type(2) > a > .fa-chevron-right  {
    top: 5px;
}

.menu > ul > li:nth-of-type(3) > a > .fa-chevron-right {
    top: 15px;
}

.menu > ul > li:nth-of-type(4) > a > .fa-chevron-right {
    top: 35px;
}

.menu > ul > li:nth-of-type(5) > a > .fa-chevron-right {
    top: 10px;
}

.menu > ul > li:nth-of-type(6) > a > .fa-chevron-right {
    top: 25px;
}

.menu li, .menu > li > h1 {
    margin-bottom: 50px;
    transform: translateX(30px);
    opacity: 0;
    transition: all .4s ease;
}

.menu a {
        color: #250B55;
}

.menu h1 {
    text-transform: uppercase;
    padding: 4px 0 5px 68px;
}

.menu-open .menu li,.menu-open .menu > h1 {
    transform: translateX(0);
    opacity: 1;
}

.menu-open .menu li :nth-child(n+1) { transition-delay: .3s;}
.menu-open .menu li :nth-child(n+2) { transition-delay: .35s;}
.menu-open .menu li :nth-child(n+3) { transition-delay: .4s;}
.menu-open .menu li :nth-child(n+4) { transition-delay: .45s;}
.menu-open .menu li :nth-child(n+5) { transition-delay: .5s;}
.menu-open .menu li :nth-child(n+6) { transition-delay: .55s;}

/* décoration*/
#triangle-haut{
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 258px solid #FFFCF1;
    border-left : 200px solid transparent;
    z-index: -1;
    position: absolute;
    left: 175px;
    bottom: 555px;
}

#triangle-bas{
    display : inline-block;
    height : 0;
    width : 0;
    border-right : 200px solid transparent;
    border-bottom : 258px solid #FFFCF1;
    z-index: -1;
    position: absolute;
    right: 175px;
    top: 555px;
}
