/*logo*/
.logo {
    position: absolute;
    left: 253px;
    top: 20px;
}

/* page d'accueil*/
.barre-navigation h1 {
    text-align: center;
    padding: 16px 0 5px 0;
}

span {
    padding: 50px 0 0 60px;
}

.presentation-site h2 {
    z-index: 1;
    position: absolute;
    top: 155px;
    left: 19px;
}

.presentation-site img {
    width: 100%;
}

.presentation-site figure {
    margin: 0;
}

.presentation-site p {
    padding-left:  31px;
    padding-right: 31px;
    margin: 0;
    z-index: 1;
    position: absolute;
    top: 630px;
}

.tweet1 figure {
    padding-left: 35px;
    padding-top:  49px;
    margin: 166px 0 0 0;
}

.tweet1 figcaption {
    text-align: center;
    z-index: 1;
    position: absolute;
    left: 220px;
    top: 800px;
    right: 30px;
    padding: 0 10px 0 10px;
}

.tweet1 p { /* a revoir*/
    text-align: center;
    z-index: 1;
    position: absolute;
    left: 44px;
    right: 44px;
    top: 1200px;
}

.tweet2 figure {
    padding-left: 60px;
    padding-top: 78px;
    margin:90px 0 0 0;
}

#triangle-haut-tweet2 {
    z-index: -1;
    position: absolute;
    left: 30px;
    top: 1350px;
}

#triangle-bas-tweet2 {
    z-index: -1;
    position: absolute;
    left: 200px;
    top: 1610px;
}

.tweet2 figcaption {
    text-align: center;
    z-index: 1;
    position: absolute;
    top: 1710px;
    right: 140px;
    padding: 0 10px 0 10px;
}

#rectangle-tweet2 {
    z-index: -2;
    position: absolute;
    left: 30px;
    top: 1350px;
}

.tweet2 p { /* a revoir*/
    padding: 35px 51px 0 52px;
    margin-top: 0;
    text-align: center;
}

.tweet3 figure {
    padding-left: 80px;
    padding-top:70px;
    margin: 0;
}

#rectangle-tweet3 {
    z-index: -3;
    position: absolute;
    left: 30px;
    top: 1830px;
}

#rectangle-bas-tweet3 {
    z-index: -2;
    position: absolute;
    left: 30px;
    top: 1985px;
}

#rectangle-haut-tweet3 {
    z-index: -2;
    position: absolute;
    left: 195px;
    top: 1830px;
}

.tweet3 figcaption {
    text-align: center;
    z-index: 1;
    position: absolute;
    top: 2160px;
    left: 200px;
    right: 47px;
    padding: 0 10px 0 10px;
}

.tweet3 p { /* a revoir*/
    padding: 35px 75px 0 55px;
    text-align: center;
    margin-top: 20px;
}

footer {
    margin-top: 34px;
}

.contact.module-footer, .mentions-legales.module-footer {
    display: table-cell;
    width: 375px;
}

.contact.module-footer > address > p {
    padding: 0 0 0 10px;
}

.mentions-legales.module-footer p {
    padding-right: 10px;
}

.reseaux.module-footer li {
    display: inline;
}

/* pages article 1*/

.image-série h2 {
    text-align: left;
    padding : 20px 96px 0 96px;
    z-index: -1;
    position: absolute;
}

#triangle-haut-p1 {
    z-index: -3;
    position: absolute;
    left: 40px;
    top: 135px;
}

#triangle-bas-p1 {
    z-index: -3;
    position: absolute;
    left: 40px;
    top: 320px;
}

.image-série > figure > video {
    margin-top: 100px;
}

.image-série .temps-lecture {
    padding-left: 175px;
    padding-right: 40px;
    z-index: 1;
    position: absolute;
    top: 135px;
}

.image-série figure {
    padding : 5px 0 0 55px;
    margin: 0;
}

.image-série figcaption {
    padding: 30px 130px 0 0;
}

.center {
    padding : 5px 33px 0 33px
}

#serie figure { /*a revoir*/
    padding:5px 90px 15px 119px;
    margin: 0;
}

#pollution figure {
    padding:48px 0 79px 10px;
    margin: 0;
}

#pollution figcaption {
    text-align: center;
    z-index: 1;
    position: absolute;
    top: 2120px;
    left: 35px;
    right: 68px;
    padding: 49px 70px 0 79px;
}

.galerie h2 {
    margin: 0;
    padding: 32px 60px 14px 50px;
    text-align: center;
}

.galerie figure {
    margin: 14px 0 47px 25px;
}

.galerie figcaption {
    padding-left: 65px;
}

.galerie figcaption:last-of-type {
    padding: 0 90px 0 65px;
    text-align: center;
}

li {
    padding-bottom: 10px;
}

/* pages article 2*/
.image-article2 h2 {
    text-align: left;
    padding : 42px 56px 0 56px;
    margin: 0;
}

.image-article2 .temps-lecture {
    padding-left: 148px;
    padding-right: 55px;
}

.image-article2 > .temps-lecture > p {
    padding-left: 15px;
    margin-bottom: 0;
}

.image-article2 figure {
    margin: 0;
    padding: 3px 60px 0 55px;
}

.image-article2 figcaption {
    text-align: center;
    padding-right: 170px;
}

#pollution-numerique figure { /*a revoir*/
    padding:40px 0 10px 90px;
    margin: 0;
}

#pollution-numerique figcaption {
    text-align: center;
    padding-right: 65px;
    padding-left: 40px;
}

.micro-trottoir h3 {
    text-align: center;
    margin-top : 50px
}

/*page article 3*/
.image-article3 h2 {
    text-align: left;
    padding : 35px 50px 0 60px;
    margin: 0;
}

.image-article3 .temps-lecture {
    padding: 5px 74px 0 160px;
}

.image-article3 figure {
    margin: 0;
    padding: 0 60px 30px 50px;
}

.image-article3 figcaption {
    text-align: center;
    padding: 5px 80px 0 75px;
}

#livraisons figure { /*a revoir*/
    padding: 0 0 15px 100px;
    margin: 0;
}

#livraisons figcaption {
    text-align: center;
    padding-right: 100px;
}


#internet figure { /*a revoir*/
    padding: 0 0 15px 30px;
    margin: 0;
}

#internet figcaption {
    text-align: center;
    padding: 0 100px 0 70px;
}

#emballages figure { /*a revoir*/
    padding-left:100px;
    margin: 0;
}

#emballages figcaption {
    text-align: center;
    padding: 0 100px 20px 0;
}
/*page artcile 4*/

.image-article4 h2 {
    text-align: left;
    padding : 35px 47px 0 50px;
    margin: 0;
}

.image-article4 .temps-lecture {
    padding : 10px 40px 0 175px;
    z-index: 1;
    position: absolute;
    top: 135px;
}

.image-article4 > .temps-lecture > p {
    padding-left: 15px;
    margin-bottom: 0;
}

.image-article4 figure {
    margin: 0;
    padding: 10px 38px 0 67px;
}

.image-article4 figcaption {
    padding-right: 150px;
}

/* page contact*/

.image-contact h2 {
    text-align: center;
    padding-top: 35px;
    margin: 0;
}

 .image-contact figcaption{
    padding-right: 170px;
}

/*#a-propos p : aller à la ligne ?*/
/*formuliare de contact*/
#me-contacter h4 {
    text-align: center;
}

#me-contacter {
    margin-bottom: 15px;
}

#me-contacter > p {
    margin-bottom: 50px;
}

#me-contacter > p:nth-of-type(5) {
    margin-top: 110px;
    padding-left: 215px;
    margin-bottom: 0;
}
/*autres projets*/
#autres_projets > .projets-gauche,#autres_projets > .projets-droite {
    display: table-cell;
    width: 188px;
}

#autres_projets figure {
    margin: 0;
}

#autres_projets ul {
    padding: 0;
}

.projets-droite li {
    padding: 5px 22px 5px 10px;
}

.projets-gauche li {
    padding: 5px 10px 5px 22px;
}

.projets-gauche li:nth-child(3) {
    padding-bottom: 25px;
}

.projets-gauche li:nth-child(4) {
    padding-bottom: 20px;
}

.projets-gauche li:nth-child(5) {
    padding: 10px 10px 5px 22px;
}

.projets-droite li:nth-child(2) {
    padding-bottom: 10px;
}

.projets-droite li:nth-child(3) {
    padding: 0 22px 10px 10px;
}

#autres_projets > ul {
    padding: 0 114px 5px 114px;
    margin: 0;
}

.projets-gauche figcaption,.projets-droite figcaption, #autres_projets > ul > li:last-of-type > figure > figcaption {
    text-align: center;
}

.projets-gauche > ul > li:nth-of-type(1) > figure > figcaption {
    padding: 0 25px 0 25px;
}

.projets-gauche > ul > li:nth-of-type(2) > figure > figcaption, .projets-gauche > ul > li:nth-of-type(5) > figure > figcaption, #autres_projets > ul > li:last-of-type > figure > figcaption{
    padding: 0 20px 0 20px;
}

.projets-gauche > ul > li:nth-of-type(4) > figure > figcaption,.projets-droite> ul > li:nth-of-type(5) > figure > figcaption {
    padding: 0 30px 0 30px;
}

.projets-droite> ul > li:nth-of-type(2) > figure > figcaption {
    padding: 0 30px 0 25px;
}

.projets-droite> ul > li:nth-of-type(3) > figure > figcaption {
    padding: 0 5px 0 5px;
}
