/*accueil*/

/*présentation*/
#rectangle-orange {
    width:181px;
    height:165px;
    background:#F8C66A;
    position: absolute;
    left: 10px;
    top:605px;
}

#rectangle-blanc {
    width:324px;
    height:122px;
    background:#FFFFFF;
    position: absolute;
    left: 21px;
    top:623px;
}

 /*tweet 1*/
#rectangle-tweet1 {
    width:305px;
    height:96px;
    background:#FFFFFF;
    position: absolute;
    left: 35px;
    top:1200px;
}

/*tweet 2*/
#triangle-haut-tweet2 {
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 125px solid #EC6787;
    border-right : 125px solid transparent;
}

#triangle-bas-tweet2 {
    display : inline-block;
    height : 0;
    width : 0;
    border-bottom : 125px solid #ECB9DD;
    border-left : 125px solid transparent;
}

#rectangle-tweet2 {
    width:295px;
    height:447px;
    background:#FFFFFF;
    position: absolute;
    left: 30px;
    top:1350px;
}

/*tweet 3*/
#rectangle-tweet3 {
    width:295px;
    height:430px;
    background:#FFFFFF;
    position: absolute;
    left: 30px;
    top:1700px;
}

#rectangle-haut-tweet3 {
    width:129px;
    height:198px;
    background:#E63962;
    position: absolute;
    left: 211px;
    top:1700px;
}

#rectangle-bas-tweet3 {
    width: 129px;
    height: 198px;
    background: #F8C66A;
    position: absolute;
    left: 30px;
    top: 1900px;
}

/*article1*/
#rectangle-h2-p1 {
    width:201px;
    height:54px;
    background:#FFFFFF;
    position: absolute;
    left: 87px;
    top:86px;
    z-index: -2;
    border: solid 1px #250B55;
}

#triangle-haut-p1 {
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 214px solid #D63158;
    border-left : 285px solid transparent;
}

#triangle-bas-p1 {
    display : inline-block;
    height : 0;
    width : 0;
    border-right : 285px solid transparent;
    border-bottom : 214px solid #513C77;
}

#rectangle-nasty {
    width:162px;
    height:57px;
    background:#000000;
    position: absolute;
    left: 180px;
    top:1245px;
    z-index: -1;
}

.cercle-pollution {
    height: 333px;
    width: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1830px;
    left: 170px;
    z-index: -1;
}
.demi-cercle {
    width: 333px;
    height: 333px;
    border-radius: 0 200px 200px 0;
    background: #FFEAD7;
}

#rectangle-h2-galerie {
    width:232px;
    height:76px;
    background:#FFFFFF;
    position: absolute;
    left: 65px;
    top:2380px;
    z-index: -2;
    border: solid 1px #250B55;
}

.degrade-lineaire {
    width: 375px;
    height: 1289px;
    background: linear-gradient(#FFFCF1, #FFEAD7, #F8C66A, #FFEAD7, #FFFCF1);
    z-index: -3;
    position: absolute;
    top: 2380px;
    left: 0;
}

/*article 2*/
#rectangle-h2-p2 {
    width:272px;
    height:76px;
    background:#FFFFFF;
    position: absolute;
    left: 50px;
    top:86px;
    z-index: -2;
    border: solid 1px #250B55;
}

#rectangle-violet {
    width:273px;
    height:430px;
    background:#ECB9DD;
    position: absolute;
    left: 78px;
    top:159px;
    z-index: -3;
}

#rectangle-noir {
    width:181px;
    height:265px;
    background:#42404D;
    position: absolute;
    left: 68px;
    top:820px;
    z-index: -3;
}

#rectangle-h2-micro-trottoir {
    width:137px;
    height:30px;
    background:#FFFFFF;
    position: absolute;
    left:119px;
    top:3270px;
    z-index: -1;
    border: solid 1px #250B55;
}

/*article 3*/

#rectangle-h2-p3 {
    width:292px;
    height:52px;
    background:#FFFFFF;
    position: absolute;
    left: 52px;
    top:86px;
    z-index: -1;
    border: solid 1px #250B55;
}

#cercle-go-green {
    width: 268px;
    height: 275px;
    border-radius: 100%;
    background: #FFEAD7;
    z-index: -2;
    position: absolute;
    top: 129px;
    left: 74px;
}

.image-ronde {
    width : 264px;
    height : 264px;
    border: none;
    -moz-border-radius : 75px;
    -webkit-border-radius : 75px;
    border-radius : 150px;
}

.image-livraisons {
    width : 186px;
    height : 186px;
    border: none;
    -moz-border-radius : 75px;
    -webkit-border-radius : 75px;
    border-radius : 150px;
}

#cercle-livraisons {
    width: 188px;
    height: 186px;
    border-radius: 100%;
    background: #00DDC1;
    z-index: -1;
    position: absolute;
    top: 613px;
    left: 51px;
}

.image-internet {
    width : 186px;
    height : 186px;
    border: none;
    -moz-border-radius : 75px;
    -webkit-border-radius : 75px;
    border-radius : 150px;
}

#cercle-internet {
    width: 188px;
    height: 186px;
    border-radius: 100%;
    background: #00DDC1;
    z-index: -1;
    position: absolute;
    top: 1500px;
    left: 130px;
}

.image-emballages {
    width : 186px;
    height : 186px;
    border: none;
    -moz-border-radius : 75px;
    -webkit-border-radius : 75px;
    border-radius : 150px;
}

#cercle-emballages {
    width: 188px;
    height: 186px;
    border-radius: 100%;
    background: #EC6787;
    z-index: -1;
    position: absolute;
    top: 2435px;
    left: 57px;
}
/*page article 4*/

#rectangle-h2-p4 {
    width:277px;
    height:233px;
    background:#FFFFFF;
    position: absolute;
    left: 41px;
    top:86px;
    z-index: -1;
    border: solid 1px #250B55;
}

/*page contact*/

#rectangle-h2-p5 {
    width:83px;
    height:28px;
    background:#FFFFFF;
    position: absolute;
    left: 145px;
    top: 87px;
    z-index: -1;
    border: solid 1px #250B55;
}

#rectangle-contact {
     width:198px;
     height:238px;
     background:#FFEAD7;
     position: absolute;
     left: 177px;
     top:102px;
     z-index: -2;
 }


.prenom {
    width:303px;
    height:30px;
    background:#FFFFFF;
    position: absolute;
    left: 31px;
    top:690px;
    border: solid 1px #250B55;
}

.nom {
    width:303px;
    height:30px;
    background:#FFFFFF;
    position: absolute;
    left: 31px;
    top:755px;
    border: solid 1px #250B55;
}

.email {
    width:303px;
    height:30px;
    background:#FFFFFF;
    position: absolute;
    left: 31px;
    top:825px;
    border: solid 1px #250B55;
}

.message {
    width:303px;
    height:90px;
    background:#FFFFFF;
    position: absolute;
    left: 31px;
    top:890px;
    border: solid 1px #250B55;
}

.envoyer {
    width:90px;
    height:18px;
    background:#FFFFFF;
    position: absolute;
    left: 245px;
    top:986px;
    border: solid 1px #250B55;
    margin-top:15px;
    z-index: -1;
}