#rectangle-orange {
    width:181px;
    height:165px;
    background:#F8C66A;
    position: absolute;
    left: 10px;
    top:605px;
}

#rectangle-blanc {
    width:324px;
    height:122px;
    background:#FFFFFF;
    position: absolute;
    left: 21px;
    top:623px;
}