a {
    color: #250B55;
    text-decoration: none;
}

li {
    list-style: none;
}

p, h1, h2, h3, h4, ul {
    color: #250B55;
}

.menu {
    font-family: "lato Bold";
    font-size: 18px;
}

.menu h1 {
    font-family: "Poppins Black";
    font-size: 15px;
}

body {
    background-color: #FFFCF1;
}

.barre-navigation {
    font-family: "Poppins Black";
    font-size: 15px;
}

span {
    font-style: italic;
    font-size: 14px;
    font-family: "roboto b";
    color: #250B55;
}

.presentation-site h2 {
    font-family: "Poppins SemiBold";
    font-size: 15px;
}