a {
    color: #250B55;
    text-decoration: none;
}

li {
    list-style: none;
}

p, h1, h2, h3, h4,ul {
    color: #250B55;
}

.menu a {
    font-family: Lato;
    font-weight: 400;
    font-size: 18px;
}

.barre-navigation {
    font-family: "Poppins Black";
    font-size: 15px;
}

.menu h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: Poppins;
    font-weight: 900;
    font-size: 15px;
}

body {
    background-color: #FFFCF1;
}

.barre-navigation h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: Poppins;
    font-weight: 900;
    font-size: 15px;
}

span {
    /*font-style: italic;*/
    font-size: 14px;
    font-family: roboto;
    font-style: italic;
      color: #250B55;
}

.presentation-site h2 {
    font-family: "Poppins SemiBold";
    font-size: 15px;
}

figcaption { /* a revoir*/
    font-family:Roboto;
    font-weight: 400;
    font-size: 11px;
    color: #250B55;
}

p, ul {
    font-family: Roboto;
    font-size: 15px;
}

.tweet1 p,.tweet2 p, .tweet3 p {
    font-family: Poppins;
    font-weight: 500;
    font-size: 13px;
}

.tweet1 a,.twee2, a,.tweet3 a {
    font-family: "Poppins Light";
    font-size: 12px;
    text-decoration: underline #250B55;
}

footer p {
    font-family: "Roboto Medium";
    font-size: 15px;
}

footer .mentions-legales.module-footer a {
    font-family: "Roboto Medium";
    font-size: 15px;
    text-decoration: underline #250B55;
}

.menu a {
    text-decoration: none;
}

h3 {
    font-family: Poppins;
    font-size: 15px;
}

h2 { /*a revoir*/
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
}

.chapeau { /* a revoir */
    font-family: Poppins;
    font-style: italic;
    font-size: 15px;
}

.pullquote,.citation {
    font-family: Roboto;
    font-weight: bold;
    font-style: italic;
    color: #250B55;
}

h4 {
    font-family: roboto;
    font-size: 15px;
    text-transform: uppercase;
}

#scientifique p:last-of-type {
    font-family: "Roboto Light";
    font-style: italic;
    font-size: 13px;
}

.temps-lecture { /* revoir article 4*/
    font-family: Roboto;
    font-size: 11px;
    font-weight: 500;
}

.image-série > .temps-lecture > p {
    font-family: Roboto;
    font-size: 11px;
    color: #FFFF;
}
#autres_projets b {
    font-family: Roboto;
    font-size: 14px;
}

#me-contacter h4 { /* a revoir*/
    font-family: roboto;
    font-size: 16px;
    text-transform: none;
}

#a-propos h3,#autres_projets h3  { /* a revoir*/
    font-family: "Poppins SemiBold";
    font-size: 16px;
    text-transform: none;
}